@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome To Movie Project</h1>
    <p class="lead">Discover the Best Movies!</p>
    <hr class="my-4">
    <p>Explore our vast collection of movies and stay entertained.</p>
    
</div>
